:root {
  --main-bg-color: #000;
  --main-text-color: #fff;
  --main-text-mid-color: #545454;
  --main-padding-size: 19px;
}

@media screen and (min-width: 619px) {

}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1280px) {

}
